.home {
    h3 {
        width: 100%;
        
    }


}


* {
    margin: 0;
    padding: 0;
}

.wrapper {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.contianer-home {
    max-width: 948px;
    margin: 4em auto;
    padding: 4em;
    background : #fff;
    border-radius: 1em;
}

img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}


.title:visited {
    color: blue
}
.topic:visited {
    color: blue
}
.autor:visited {
    color: blue
}


.title:hover {

    box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);

}
.topic:hover {
    box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);

}
.author:hover {
    box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);

}

.gridcheck {
    list-style-type: none;
}

.title {
    grid-column: 1/3;
    grid-row: 1;
}


.blog-post {
    padding-bottom: 5rem;
}

.article-post-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.article-post-title {
    font-size: clamp(3rem, 5vw, 2rem);
}

.article-body-container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    padding:0;
}


.img{
    width: 80%;
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}



